#Shepherd {
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "header content";
  height: 100vh;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-header {
  grid-area: header;
  background: hsl(0, 50%, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-title {
  font-size: 3em;
}

main {
  grid-area: content;
}